.item{
    height: fit-content;
    width: 200px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
.picture{
    object-fit: fill;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}
.name{
    font-family: sans-serif;
    font-size: 20px;
}
.price{
    font-family: sans-serif;
    font-size: 22px;
}
#main-page{
    display: flex;
    flex-wrap: wrap;
}